@page
@model Unik.WebApp.Pages.Tekniker.DeleteModel
@{
}

<br/>
<section class="container">
    <section class="row">
        <h3 class="col-9 fw-bold">Slet medarbejder</h3>
        <hr style="height: 1px; border: none; color: #000000; background-color: #000000; opacity: 1"/>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Titel</th>
                <th scope="col">Navn</th>
                <th scope="col">Tlf</th>
                <th scope="col">Adresse</th>
                <th scope="col">Mail</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-default" >
                <th scope="row">Teknikker</th>
                <td>Morten Jensen</td>
                <td>+45 1234 5678</td>
                <td>Skoven 12</td>
                <td>morten@jensen.dk</td>
                
            </tr>
                <tr class="table-default">
                    <th scope="row">Konsulent</th>
                    <td>Mia Madsen</td>
                    <td>+45 8765 4321</td>
                    <td>Bakkevej 23</td>
                    <td>mia@madsen.dk</td>
                </tr>
        </table>
        @*<label class="col-4">kontakt information<br>opgave information</label>
        <label class="text-dark">Dette er testen til Aktuelle side</label>
        <label class="col-6">yderligere kontakt information<br>yderligere information</label>*@
    </section>
    <br/>
    <button type="button" class="btn btn-danger rounded">Henret medarbejder</button>
    @*<hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />*@
</section>

@*<section class="container">
    <section class="row">
        <h3 class="col-9">Kommende Projekter</h3>
        <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />

        <label class="col-4">kontakt information<br>opgave information</label>
        <label class="col-6">yderligere kontakt information<br>yderligere information</label>
    </section>
    <button type="button" class="btn btn-success">Afslut projekt</button>
    <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
</section>*@


