@page
@model Unik.WebApp.Pages.Tekniker.MinSideModel
@{
}

<br />
<section class="container">
    <section class="row">
        <h3 class="col-9 fw-bold">Min side</h3>
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <hr style="height: 1px; border: none; color: #000000; background-color: #000000; opacity: 1" />
                    
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br />
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="staticNavn" class="col-sm-2 col-form-label">Navn:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="staticNavn" value="Medarbejder navn">
                                <div class="form-group row">
                                </div>
                            </div>
                    
                                    <label for="staticTitel" class="col-sm-2 col-form-label">Titel:</label>
                                    <div class="col-sm-10">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticTitel" value="Medarbejder titel">
                                    </div>
                                </div>
                    
                <div class="form-group row">
                    <label for="staticAdresse" class="col-sm-2 col-form-label">Adresse:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly="" class="form-control-plaintext" id="staticAdresse" value="Medarbejder adresse">
                        </div>
                    </div>
                        <div class="form-group row">
                        <label for="staticTlf" class="col-sm-2 col-form-label">Tlf:</label>
                                            <div class="col-sm-10">
                                                <input type="text" readonly="" class="form-control-plaintext" id="staticTlf" value="Medarbejder tlf">
                                                </div>
                                        
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="Medarbejder email">
                    </div>   
                        </div>
                        </div> 
                </div>
            </div>
        @*<label class="col-4">kontakt information<br>opgave information</label>
        <label class="text-dark">Dette er testen til Aktuelle side</label>
        <label class="col-6">yderligere kontakt information<br>yderligere information</label>*@
    </section>
    <br />
@*    <button type="button" class="btn btn-danger rounded">Henret medarbejder</button>
*@    @*<hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />*@
</section>

@*<section class="container">
    <section class="row">
        <h3 class="col-9">Kommende Projekter</h3>
        <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />

        <label class="col-4">kontakt information<br>opgave information</label>
        <label class="col-6">yderligere kontakt information<br>yderligere information</label>
    </section>
    <button type="button" class="btn btn-success">Afslut projekt</button>
    <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
</section>*@



