@page
@model Unik.WebApp.Pages.Medarbejder.CreateModel
@{
}

@*<form method="post">
    <h1>Medarbejder Opretter</h1>

    <label for="navn">Navn:</label>
    <input type="text" asp-for="MedarbejderModel.Navn">
    <span asp-validation-for="@Model.MedarbejderModel.Navn" class="text-danger"></span>
    <br>

    <label for="tlf">Tlf:</label>
    <input type="text" asp-for="MedarbejderModel.Tlf">
    <span asp-validation-for="@Model.MedarbejderModel.Tlf" class="text-danger"></span>
    <br>
    
    <label for="Titel">Titel:</label>
    <input type="text" asp-for="MedarbejderModel.Titel">
    <span asp-validation-for="@Model.MedarbejderModel.Titel" class="text-danger"></span>
    <br>
    <button>Opret</button>
</form>*@

<form method="post">
    <section asp-validation-summary="ModelOnly" class="text-danger"></section>
    <section class="container">
        <section class="row ">

            <section class="col-md-6">
                <fieldset>
                    <br/>
                    <h1>Opret Medarbejder</h1>
                    <section class="form-group row">
                    </Section>
                    <section class="col-sm-10">
                    </Section>
                    <hr style="height: 1px; border: none; color: #000000; background-color: #000000; opacity: 1"/>
                    <section class="col-sm-10">
                    </Section>

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputNavn" placeholder="Navn" asp-for="MedarbejderModel.Navn">
                        <label>Navn</label>
                    </section>

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputTitel" placeholder="Titel" asp-for="MedarbejderModel.Titel">
                        <label>Titel</label>
                    </section>

                    @* <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputEmail" placeholder="Email" asp-for="CreateViewModel.Email">
                        <label >Email</label>
                    </section>*@

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputTlf" placeholder="Tlf" asp-for="MedarbejderModel.Tlf">
                        <label>Tlf</label>
                    </section>

                    @*<section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputUserId" placeholder="UserId" asp-for="CreateViewModel.UserId">
                        <label>User Id</label>
                    </section>*@

                    <button type="submit" class="btn btn-success rounded">Opret medabejder</button>
                </fieldset>
            </section>
        </section>
    </section>
</form>