@page
@model Unik.WebApp.Pages.Projekt.CreateModel
@{
}
<br />
<h1>Opret projekter</h1>
<hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
<section class="col-sm-10">
</section>
<form method="post">
    <section class="container">
        <section class="row ">
            <section class="col-md-6">
                <fieldset>
                    <br />
                    <h1>Opret projekt</h1>
                    <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
                    <section class="col-sm-10">
                    </section>
                    @*<section class="form-floating mb-3">
                        <input type="text" class="form-control rounded" id="floatingInputSalesId" placeholder="Sales Id" asp-for="@Model.ProjektViewModel.SalesId">
                        <label>sælger ID</label>
                    </section>
                    <section class="form-floating mb-3">
                        <input type="text" class="form-control rounded" id="floatingInputKundeId" placeholder="Kunde Id" asp-for="@Model.ProjektViewModel.KundeId">
                        <label >Kunde Id</label>
                    </section>*@
                    <section class="form-floating mb-3">
                        <input type="text" class="form-control rounded" id="floatingInputBolig" placeholder="Noter" asp-for="@Model.ProjektViewModel.AntalBoliger">
                        <label>Antal boliger</label>
                    </section>

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control rounded" id="floatingInputNoter" placeholder="Noter" asp-for="@Model.ProjektViewModel.Noter">
                        <label>Noter</label>
                    </section>
            <button type="submit" class="btn btn-success rounded">Opret projekt</button>
                </fieldset>
            </section>
        </section>
        </section>

</form>