@page
@model Unik.WebApp.Pages.Sales.DetailsModel
@{
}
<form metod="post">
    <br />
    <h1>Opdater sælgere</h1>
    <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
    <div class="col-sm-10">
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Sælger Id</th>
            <th>Navn</th>
            <th>Titel</th>
            <th>Telefon nummer</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        @if (Model.DetailsViewModel.Any())
        {
            foreach (var sælger in Model.DetailsViewModel)
            {
                <tr>
                    <td>@sælger.Id</td>
                    <td>@sælger.Navn</td>
                    <td>@sælger.Titel</td>
                    <td>@sælger.Tlf</td>

                    @if (@sælger.Projekter.Any())
                    {

                        <thead>
                        <tr>
                            <th>Projekt Id</th>
                            <th>Noter</th>
                            <th>Kunde Id</th>
                        </tr>
                        </thead>
                        <tbody>

                        @foreach (var projekt in sælger.Projekter)
                        {
                            <tr>
                                <td>@projekt.Id</td>
                                <td>@projekt.Noter</td>
                                <td>@projekt.kundeID</td>
                            </tr>
                        }
                        </tbody>
                    }

                </tr>

            }

        }
        </tbody>

    </table>
    <a asp-page="Index" type="submit" class="btn btn-info rounded">Tilbage til oversigt</a>

</form>