@page
@model Unik.WebApp.Pages.Sales.EditModel
@{
}

<form method="post">
    
    <section>
        <input type="hidden" asp-for="EditViewModel.RowVersion" class="form-control" />
        <input type="hidden" asp-for="EditViewModel.Id" class="form-control" />
        <br>
        Navn: <input type="text" asp-for="EditViewModel.Navn"/>
        <br>
        Titel: <input type="text" asp-for="EditViewModel.Titel"/>
        <br>
        Email: <input type="text" asp-for="EditViewModel.Email"/>
        <br>
        TLF: <input type="text" asp-for="EditViewModel.Tlf"/>
        <br>
        UserId: <input type="text" asp-for="EditViewModel.UserId"/>
        <br>
        <button type="submit">Rediger Sælger</button>
    </section>
</form>