@page
@model Unik.WebApp.Pages.Sales.EditModel
@{
}
<br />
<h1>Opdater sælgere</h1>
<hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
<section class="col-sm-10">
</section>
<form method="post">
    
    <section>
        <input type="hidden" asp-for="EditViewModel.RowVersion" class="form-control" />
        <input type="hidden" asp-for="EditViewModel.Id" class="form-control" />
        <input type="hidden" asp-for="EditViewModel.UserId" class="form-control" />

        @*<br>
        Navn: <input type="text" asp-for="EditViewModel.Navn"/>
        <br>
        Titel: <input type="text" asp-for="EditViewModel.Titel"/>
        <br>
        Email: <input type="text" asp-for="EditViewModel.Email"/>
        <br>
        TLF: <input type="text" asp-for="EditViewModel.Tlf"/>
        <br>
        UserId: <input type="text" asp-for="EditViewModel.UserId"/>
        <br>*@
        
        <section class="container">
            <section class="row">
                <section class="col-lg-4 col-md-12">

                    <br/>
                   @* <section class="form-group">
                        <label>Navn</label>
                        <input asp-for="EditViewModel.Navn" class="form-control rounded"/>
                    </section>*@

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control rounded"  id="floatingInputNavn" placeholder="Navn" asp-for="EditViewModel.Navn">
                        <label >Navn</label>
                    </section>

                    <br/>
                    <section class="form-floating mb-3">
                        <input type="text" class="form-control rounded" id="floatingInputTitel" placeholder="Titel" asp-for="EditViewModel.Titel">
                        <label>Titel</label>
                    </section>
                    
                    <br/>
                    <section class="form-floating mb-3">
                        <input type="text" class="form-control rounded" id="floatingInputEmail" placeholder="Email" asp-for="EditViewModel.Email">
                        <label>Email</label>
                    </section>

                    <br/>
                    <section class="form-floating mb-3">
                        <input type="text" class="form-control rounded"  id="floatingInputTlf" placeholder="Tlf" asp-for="EditViewModel.Tlf">
                        <label >Tlf</label>
                    </section>
                    

                   @* <br/>
                    <section class="form-group">
                        <label>Titel</label>
                        <input asp-for="EditViewModel.Titel" class="form-control rounded"/>
                    </section>

                    <br />
                    <section class="form-group">
                        <label>Email</label>
                        <input asp-for="EditViewModel.Email" class="form-control rounded"/>
                    </section>

                    <br />
                    <section class="form-group">
                        <label>Tilf</label>
                        <input asp-for="EditViewModel.Tlf" class="form-control rounded"/>
                    </section>*@
                </section>

                <section class="col-lg-4 col-md-6">
                </section>

                <section class="col-lg-4 col-md-6">
                </section>
            </section>
        </section>
        <br/>
        <button type="submit" class="btn btn-success rounded">Opdater sælger</button>
        <a asp-page="Index" type="submit" class="btn btn-info rounded">Tilbage til oversigt</a>
    </section>
</form>