@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br/>
    <h1 class="display-1, fw-bold" >Velkommen</h1>
    <img src="lib/Billeder/unik-removebg-preview.png" width="20%" height="20%"/>
    <p>3. semesterprojekt UCL DMVEE211 </p>
    <p>Lavet af Mathias Dissing-Hansen, Oliver Both, Patrick Lika & Rasmus Krog Sørensen.</p>
</div>
