@page
@model Unik.WebApp.Pages.Kompetence.EditModel
@{
}
<br />
<h1>Rediger kompetence</h1>
<hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
<div class="col-sm-10">
</div>
<section class="row">
    <section class="col-md-6">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="EditViewModel.Id" class="form-control" />
            <input type="hidden" asp-for="EditViewModel.RowVersion" class="form-control" />
            <div class="form-group">
                <br/>
                <label asp-for="EditViewModel.Navn"></label>
                <input asp-for="EditViewModel.Navn" class="form-control rounded" />
            </div>
            <div class="form-group">
                <br/>
                <label asp-for="EditViewModel.Type"></label>
                <input asp-for="EditViewModel.Type" class="form-control rounded" />
            </div>
            <br/>
            <button type="submit" class="btn btn-success rounded">Opdater Kompetence</button>
            <a asp-page="Index" type="submit" class="btn btn-info rounded">Tilbage til oversigt</a>
        </form>
    </section>
</section>
