@page
@model Unik.WebApp.Pages.Booking.CreateModel
@{
}

<form method="post">
    <section class="container">
        <section class="row ">

            <section class="col-md-6">
                <fieldset>
                    <br />
                    <h1>Opret booking</h1>
                    <section class="form-group row">
                    </Section>
                    <section class="col-sm-10">
                    </Section>
                    <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
                    <section class="col-sm-10">
                    </Section>

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputNavn" placeholder="Navn" asp-for="BookingCreateViewModel.Navn">
                        <label>Navn</label>
                    </section>

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputId" placeholder="Id" asp-for="BookingCreateViewModel.Id">
                        <label>Id</label>
                    </section>

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputMedarbejderId" placeholder="Medarbejder Id" asp-for="BookingCreateViewModel.MedarbejderId">
                        <label>Medarbejder Id</label>
                    </section>

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputOpgaveId" placeholder="Opgave Id" asp-for="BookingCreateViewModel.OpgaveId">
                        <label>Opgave Id</label>
                    </section>
                    

                    @* <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputEmail" placeholder="Email" asp-for="CreateViewModel.Email">
                        <label >Email</label>
                    </section>*@

                    @*<section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputUserId" placeholder="UserId" asp-for="CreateViewModel.UserId">
                        <label>User Id</label>
                    </section>*@

                    @*<button type="submit" class="btn btn-success rounded">Opret Booking</button>*@
                </fieldset>
            </section>
       
            <section class="col-md-6">
                <h1 style="color:white">Opret booking</h1>
                <br />
                @*<label for="text">Start og slut dato</label>*@
                <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
                <div class="col-sm-10">
                </div>

                <section class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInputStartDato" placeholder="Start dato" asp-for="BookingCreateViewModel.StartDato">
                    <label>Start dato</label>
                </section>

                <section class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInputSlutDato" placeholder="Slut dato" asp-for="BookingCreateViewModel.SlutDato">
                    <label>Slut dato</label>
                </section>

                @*<div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Example select</label>
                    <select class="form-select" id="exampleSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleSelect2" class="form-label mt-4">Vælg kompetencer til projektet</label>
                    <select multiple="" class="form-select" id="exampleSelect2">
                        <option>SQL</option>
                        <option>MSSQL</option>
                        <option>MongoDB</option>
                        <option>Citrix opsætning</option>
                        <option>Telefon guide af opsætning</option>
                    </select>
                </div>*@
                @*<div class="form-group">
                    <label for="exampleTextarea" class="form-label mt-4">Noter</label>
                    <textarea class="form-control" id="noter" rows="3"></textarea>
                </div>*@
              
                <fieldset class="form-group">
                </fieldset>
                <br />
                <button type="submit" class="btn btn-success rounded">Opret booking</button>
            </section>
        </section>
    </section>
</form>

