@page
@model Unik.Webapp.Pages.Booking.CreateModel
@{
}

<form method="post">
    <section class="container">
        <section class="row ">
            
            <input type="hidden" asp-for="BookingCreateViewModel.MedarbejderId" class="form-control"/>
            <input type="hidden" asp-for="BookingCreateViewModel.OpgaveId" class="form-control"/>
            <input type="hidden" asp-for="BookingCreateViewModel.Varighed" class="form-control"/>

            <section class="col-md-6">
                <fieldset>
                    <br />
                    <h1>Opret booking</h1>
                    <section class="form-group row">
                    </Section>
                    <section class="col-sm-10">
                    </Section>
                    <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
                    <section class="col-sm-10">
                    </Section>
                    
                    <section class="form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInputStartDato" placeholder="Start dato" asp-for="BookingCreateViewModel.StartDato">
                        <label>Start dato</label>
                    </section>
                    @*<section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputMedarbejderId" placeholder="Medarbejder Id" asp-for="BookingCreateViewModel.MedarbejderId">
                        <label>Medarbejder Id</label>
                    </section>

                    <section class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputOpgaveId" placeholder="Opgave Id" asp-for="BookingCreateViewModel.OpgaveId">
                        <label>Opgave Id</label>
                    </section>*@
                </fieldset>
            </section>
       
            <section class="col-md-6">
                <h1 style="color:white">Opret booking</h1>
                <br />
                <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
                <section class="col-sm-10">
                </section>

               

                <section class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInputSlutDato" placeholder="Slut dato" asp-for="BookingCreateViewModel.SlutDato">
                    <label>Slut dato</label>
                </section>

                <fieldset class="form-group">
                </fieldset>
                <br />
                <button type="submit" class="btn btn-success rounded">Opret booking</button>
            </section>
        </section>
    </section>
</form>
